#main-slide {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  .slideshow {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    position: relative;

    li {
      height: 100%;
      width: 100%;
      display: inline-block;
      position: relative;

      .slideshow__image {
        margin: 0;
        padding: 0;
        // height: 400px;
        // width: $max-width;
        background-size: cover;
        background-position: center;
        position: center;
        width: 100vw;

        @media only screen and (min-width: $break-large) {
          width: $max-width;
        }

        // @media screen and (min-width: $break-large) {
        //   height: 400px;
        // }
      }
    }
  }
}

#latest-shows {
  h2 {
    margin: 2.8125rem 0;
    color: map-get($colors, dark-gray);
    .title__left,
    .title__right {
      display: block;
      img {
        max-width: 255px;
      }
    }
  }
  @media screen and (min-width: $break-small) {
    max-width: $max-width;
    margin: 0 auto 4rem;
  }

  @media only screen and (min-width: $break-large) {
    & h2 {
      .title__left,
      .title__right {
        display: inline-block;
        width: 30%;
      }
    }
  }
}
