#schedule {
  margin: auto;
  max-width: $max-width;

  .title__left,
  .title__right {
    position: relative;
    top: 4px;

    img {
      width: 20px;
    }
  }

  h2 {
    margin: 1rem 0 2rem;
    color: map-get($colors, dark-gray);
  }
  .title__left,
  .title__right {
    display: inline-block;
  }
  .title__left {
    padding-right: 10px;
  }
  .title__right {
    padding-left: 7px;
  }

  .schedule__container {
    width: 100%;
    display: inline-block;
    margin-bottom: 2rem;
  }

  .schedule__table {
    max-width: 840px;
    margin: 0 auto 3rem;
    overflow-x: auto;
    table-layout: auto;
    width: 98%;
    border-spacing: 0 3px;
    display: inline-block;

    tr {
      height: 55px;
      background-color: #8d8d8d;
    }

    thead tr {
      background-color: transparent;
    }

    th button {
      font-family: $font-family-display;
      color: map-get($colors, dark-gray);
      letter-spacing: 2px;
      font-size: $font-size-small;

      &.active {
        color: map-get($colors, dark-green);
      }
    }

    tr:nth-child(2n) {
      background-color: map-get($colors, dark-gray);
      color: white;
    }

    tbody {
      td {
        text-align: left;
        padding: 0 10px;
      }

      td:first-child {
        text-align: center;
      }

      td:last-child {
        text-align: right;
      }
      td.no-schedule {
        text-align: center;
        font-size: $font-size-x-large;
      }
    }
  }

  @media screen and (min-width: $break-small) {
    .schedule__container {
      overflow-x: auto;
      width: 98%;
    }
    .schedule__table {
      display: inline-table;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $break-large) {
    h2 {
      margin-top: 2.8125rem;
    }
    .schedule__table {
      width: 100%;
    }

    tbody td:last-child {
      padding-right: 23px;
    }
  }
}
