#shows {
  text-align: center;

  .shows__list {
    margin-bottom: 0;
    .show {
      margin: 2rem auto 0;
      padding: 0;
      position: relative;
      max-width: 320px;
      background-color: transparent;

      img {
        max-width: 300px;
      }

      .show__info {
        position: absolute;
        bottom: 15px;
        background-color: map-get($colors, primary);
        color: map-get($colors, black);
        width: 92%;
        margin-left: 13px;
        text-align: left;
        padding-left: 5px;
        text-transform: uppercase;

        .show__time {
          float: right;
          background-color: black;
          color: map-get($colors, dark-green);
          font-family: 'Anton', sans-serif;
          letter-spacing: 1.5px;
          font-size: $font-size-large;
          padding: 5px;
        }

        .show__name {
          line-height: 1.2;
          padding-top: 5px;
        }

        .show__day {
          margin: 0;
          font-family: 'Anton', sans-serif;
          font-size: $font-size-small;
          letter-spacing: 1px;
        }

        .show__tags {
          margin-bottom: 4px;
          font-size: $font-size-small;
        }
      }
    }

    @media only screen and (min-width: $break-small) {
      @supports (display: grid) {
        & {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
          max-width: $max-width;
          margin: 0 auto 4rem;

          .show {
            img {
              max-width: 260px;
            }

            .show__name,
            .show__time {
              font-size: $font-size-regular;
            }
          }
        }
      }
    }
  }

  .arrows {
    margin-bottom: 3rem;
    text-align: right;
    margin-right: 1rem;
    max-width: $max-width;

    .arrow {
      padding: 1rem 0.5rem;
      font-size: $font-size-xxxx-large;
      font-weight: bold;
    }
  }
  @media only screen and (min-width: $break-large) {
    h2 {
      margin-bottom: 1.5rem;
    }

    .arrows {
      margin: 1rem auto 3rem;
    }

    @supports (display: grid) {
      .shows__list {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2rem;

        .show {
          margin-top: 0;
          img {
            max-width: 100%;
          }
        }
      }

      .show__image img {
        width: $max-width;
      }
    }
  }
}
