header {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  #header-top {
    width: 100%;
    background-color: #b3b3b3;
    position: fixed;
    top: 0;
    z-index: 2;

    @media only screen and (min-width: $break-large) {
      position: unset;
    }

    .top {
      max-width: $max-width;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      flex-wrap: wrap;
    }

    .top__onair {
      background-color: #ce1126;
      color: #f2f2f2;
      font-size: $font-size-small;
      padding: 0 0.5rem 0.5rem;
      letter-spacing: 0.7px;
      height: 40px;
      display: none;

      @media only screen and (min-width: $break-small) {
        display: block;
      }
    }

    .top__player {
      flex: 2;
      padding: 0.5rem 1rem 0;
      display: flex;
      height: 40px;

      @media only screen and (min-width: $break-large) {
        flex: 1;
      }

      .player__controls {
        margin-right: 14px;
        display: flex;

        .control__volume,
        .control__volume img {
          height: 20px;
          border: none;
          outline: none;
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
  }
}
[class^='wave__'] {
  height: 25px;
  position: relative;
  top: 6px;
}

.blink-animation {
  opacity: 0;
  -webkit-animation: blinkAnimation 2.5s infinite;
  -moz-animation: blinkAnimation 2.5s infinite;
  -o-animation: blinkAnimation 2.5s infinite;
  animation: blinkAnimation 2.5s infinite;
}
.control__play {
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 20px;

  border-color: transparent transparent transparent map-get($colors, dark-gray);
  transition: 100ms all ease;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 12px 0 12px 20px;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 20px;
  }

  &:hover {
    border-color: transparent transparent transparent
      lighten(map-get($colors, dark-gray), 20%);
  }
}

.player__info {
  position: relative;
  top: -6px;

  .info__top {
    font-size: $font-size-tiny;
    padding: 0;
    margin: 0;
  }
  .info__ticker {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    @media only screen and (min-width: $break-small) {
      width: 100%;
    }
  }
  .ticker-wrapper {
    width: 190px;
    overflow: hidden;
    padding-left: 100%;
    box-sizing: content-box;
  }
  .ticker {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
  }

  .ticker__item {
    display: inline-block;
    text-transform: uppercase;
  }
}

.btn-donate {
  background-color: map-get($colors, dark-green);
  color: map-get($colors, dark-gray);
  font-size: $font-size-x-large;
  text-decoration: none;
  padding: 4px 16px;
  font-family: $font-family-display;
  display: none;

  @media only screen and (min-width: $break-small) {
    display: block;
  }
}

.top {
  .top__social {
    text-align: center;
    padding: 4px 0 0;
    display: none;
    margin-right: 16px;

    @media only screen and (min-width: $break-large) {
      display: block;
    }

    a {
      padding: 0 8px;
    }
  }

  .social__icon {
    height: 27px;
  }
}

#header-middle {
  width: 100%;
  background-color: map-get($colors, dark-gray);
  height: 53px;
  position: fixed;
  top: 40px;
  z-index: 3;

  @media only screen and (min-width: $break-large) {
    position: unset;
    height: 67px;
  }

  .main-menu {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0;

    h1 {
      flex: 1;
      text-align: left;
      padding-top: 2px;
      margin-left: 8px;

      .logo {
        height: 45px;

        @media only screen and (min-width: $break-large) {
          height: 60px;
          text-align: center;
        }
      }
    }

    @media only screen and (min-width: $break-large) {
      padding: 2px 16px 0;
      h1 {
        flex: 0;
      }
    }
  }
}

.btn-channel {
  color: map-get($colors, primary);
  font-size: $font-size-large;
  text-decoration: none;
  padding-top: 8px;
  padding-right: 8px;
  font-family: $font-family-display;
  display: none;

  @media only screen and (min-width: $break-large) {
    display: block;
    padding-top: 16px;
  }

  &:hover {
    color: map-get($colors, light-red);
    text-decoration: underline;
  }
}

.nav {
  flex: 2;
  text-align: center;
  display: none;

  @media only screen and (min-width: $break-large) {
    display: block;

    ul {
      padding: 6px;
    }
  }

  li {
    display: inline-block;
    padding: 0 1rem;
  }
  .nav__link,
  .dropbtn {
    margin-bottom: 16px;
  }
}

.nav__link,
.dropbtn {
  font-family: $font-family-display;
  color: map-get($colors, primary);
  letter-spacing: 0.7px;
  text-decoration: none;
  font-size: $font-size-small;

  &.router-link-exact-active,
  &:hover {
    color: map-get($colors, dark-green);
  }
}

.dropbtn::after {
  content: '▾';
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: map-get($colors, dark-gray);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown__link {
  font-family: $font-family-display;
  font-size: 0.875rem;
  letter-spacing: 0.7px;
  float: none;
  color: map-get($colors, primary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;

  &:hover {
    background-color: map-get($colors, dark-green);
    color: map-get($colors, dark-gray);
  }
}

.show {
  display: block;
}

#header-bottom {
  padding-top: 90px;

  .quick-access,
  .access {
    margin: 0 auto;
    max-width: $max-width;
    text-align: center;
    .info {
      text-align: center;
      margin: 1.6875rem 0.5rem;
    }

    .access {
      display: none;

      .btn-access {
        display: inline-block;
        width: 48%;
        background-color: map-get($colors, dark-gray);
        height: 50px;
        padding: 12px 0;
        font-size: $font-size-large;
        font-family: $font-family-display;
        text-decoration: none;
        color: white;
        letter-spacing: 0.7px;
        margin: 0 5px;

        &:hover {
          background-color: lighten(map-get($colors, dark-gray), 20%);
        }
      }
    }
  }
  @media only screen and (min-width: $break-large) {
    padding-top: 0;

    .quick-access {
      text-align: center;
      margin: 1.6875rem auto 3px;
      max-width: 840px;

      .info {
        max-width: 100%;
      }
      .access {
        display: block;
      }
    }
  }
}

/***/
@-webkit-keyframes blinkAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blinkAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
