.open-menu {
  height: 51px;
  font-size: $font-size-x-large;
  color: white;
  letter-spacing: 2px;

  @media only screen and (min-width: $break-large) {
    display: none;
  }
}

.close-menu {
  font-size: $font-size-x-large;
  float: right;
  letter-spacing: 2px;
}

.mobile-menu {
  .nav-content,
  .overlay {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
  }
  .overlay {
    right: 0;
    opacity: 0;
    width: 100%;
    z-index: 999;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.4);
  }

  .nav-content {
    width: 80%;
    color: map-get($colors, light-gray);
    padding: 15px 0;
    z-index: 9999;
    background: map-get($colors, primary);
    transform: translateX(-100%);
    position: fixed;
  }
  &.active {
    .nav-content {
      transform: translateX(0);
    }

    .overlay {
      opacity: 1;
      transform: scale(1);
    }
  }
  .nav__items {
    margin-top: 2rem;
    margin-bottom: 1.5rem;

    .nav__link {
      display: block;
      padding: 15px;
      color: map-get($colors, regular-gray);
      font-family: $font-family-display;
      text-decoration: none;
      font-size: $font-size-large;
      letter-spacing: 1px;
    }

    .nav__link:hover {
      background-color: map-get($colors, light-green);
    }

    .router-link-active {
      background-color: map-get($colors, dark-gray);
      color: white;
    }
  }
  .top__social a {
    padding: 10px;
  }
  .social__icon {
    height: 35px;
  }

  @media only screen and (min-width: $break-large) {
    display: none;
  }
}
