$break-small: 600px;
$break-large: 900px;

body {
  min-height: 100%;
  padding: 0;
  position: relative;
}

.sr-only:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a:focus {
  outline: 1px solid map-get($colors, dark-red);
}

main {
  text-align: center;
  padding-bottom: 858px;

  #latest-shows,
  #shows,
  #inside-show {
    text-align: center;

    h2 {
      margin: 2.8125rem 0;
      color: map-get($colors, dark-gray);
      .title__left,
      .title__right {
        display: block;
        img {
          max-width: 255px;
        }
      }
    }
  }

  .error__msg {
    text-align: center;
    font-size: $font-size-large;
    color: #000;
    background-color: #b3b3b3;
    margin: 0 0.5rem 2rem;
    padding: 0.5rem;
  }

  @media only screen and (min-width: $break-small) {
    padding-bottom: 520px;
  }

  @media only screen and (min-width: $break-large) {
    padding-bottom: 330px;
    #latest-shows,
    #shows,
    #inside-show {
      h2 {
        .title__left,
        .title__right {
          display: inline-block;
          width: 30%;
        }
      }
    }

    .error__msg {
      font-size: $font-size-large;
    }
  }
}
