$break-small: 600px;
$break-large: 900px;

.sr-only:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a:focus {
  outline: 1px solid map-get($colors, dark-red);
}

main {
  text-align: center;
  padding-bottom: 858px;

  #latest-shows,
  #shows,
  #inside-show {
    text-align: center;
  }

  #latest-shows h2,
  #shows h2,
  #inside-show h2 {
    margin: 2.8125rem 0;
    color: map-get($colors, dark-gray);
  }
}

@media (min-width: $break-small) {
  main {
    padding-bottom: 520px;

    @supports (display: grid) {
      .latest-shows,
      .archive-shows {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }
    }

    .title__left {
      padding-right: 1.5625rem;
      display: block;
    }

    .title__right {
      padding-left: 1.5625rem;
      display: block;
    }

    .title__left img,
    .title__right img {
      width: 255px;
    }

    .latest-shows,
    .shows,
    .archive-shows {
      max-width: $max-width;
      margin: 0 auto 4rem;
    }
  }
}

@media (min-width: $break-large) {
  main {
    padding-bottom: 330px;

    .title__left,
    .title__right {
      display: inline-block;
    }
  }
}
