* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  color: #000000;
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-display;
  font-weight: normal;
  margin: 0;
  letter-spacing: 4px;
}

ul {
  list-style: none;
  padding: 0;
}

:focus {
  outline: 1px solid #ce1126;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: $font-family-display;
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}
