$font-family-display: 'Bowlby One SC', cursive;
$font-family-text: 'Cutive Mono', monospace;

$font-weight-light: 300;
$font-weight-bold: 600;

$font-size-tiny: 0.75rem;
$font-size-small: 0.875rem;
$font-size-regular: 1rem;
$font-size-large: 1.125rem;
$font-size-x-large: 1.25rem;
$font-size-xx-large: 1.5rem;
$font-size-xxx-large: 1.875rem;
$font-size-xxxx-large: 2rem;
