$colors: (
  primary: #f2f2f2,
  dark-gray: #323232,
  regular-gray: #666,
  light-gray: #b3b3b3,
  dark-red: #ce1126,
  light-red: #ffa6a6,
  dark-green: #8faaa1,
  light-green: #b6c8c3,
  black: #060606
);

$max-width: 840px;
